#controlAddIn {
  box-sizing: border-box;
  border: #ccc 1px solid;
	font-family: "Segoe UI","Segoe WP",Segoe,device-segoe,Tahoma,Helvetica,Arial,sans-serif;
  font-size: 10.5pt;
  color: #444;
  height: 100%; 
  width: 100%;
  margin: 0;
}

#markdown-view {
    background: white;
    color: black;
    width: calc(100% - 47px);
    padding: 20px;
    overflow-y: auto;
  }

