#controlAddIn {
  font-family: "Segoe UI","Segoe WP",Segoe,device-segoe,Tahoma,Helvetica,Arial,sans-serif;
  font-size: 10.5pt;
  color: #444;
  height: 100%; 
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

#notepad {
  width: calc(100% - 22px);
  height: calc(100% - 75px) !important; 
  border: 1px solid #ccc; 
  outline: none; 
  resize: none;
  font-family: monospace;
  margin-top: 10px;
  padding: 10px;
}

#searcharea {
  display: block;
}

/* Add new styles for collapsed state */
#controlAddIn.search-collapsed #notepad {
  height: calc(100% - 35px) !important;
}

#controlAddIn.search-collapsed #searcharea {
  display: none;
}

#notepad:read-only {
  background-color: #f6f7f8;
  border: none;
}

label{
  margin-right: 5px;
}

input{
  font-family: "Segoe UI", "Segoe WP", Segoe, device-segoe, Tahoma, Helvetica, Arial, sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-transform: none !important;
  font-size: 10.5pt !important;
  pointer-events: all;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: inherit;
  margin-right: 5px;
  color: rgb(33, 33, 33) !important;
  border-color: rgb(141, 149, 160) !important;
  border: 1px solid #8a8886;
  background-color: rgba(255,255,255,.85);
  padding: 4px;
  box-shadow: none;
  height: 29px;
}

button {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  border: none;
  background: none;
  color: inherit;
}

button:focus, button:active {
  outline: none;
}

  
button.al-button {
  height: 35px;    
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #8a8886;
  border-radius: 2px;
  background: #fff;
  color: #333;
  width: auto;
  padding-left:10px;
  padding-right:10px;
  min-width:100px
}

button.al-button:focus, button.al-button:active {
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgb(0, 132, 137);
  outline-offset: -3px;
}

button.al-button:hover {
  background: rgb(246, 247, 248);
}

button.al-button span {
  font-family: "Segoe UI Semibold", "Segoe WP Semibold", device-segoe-semibold, "Segoe UI", "Segoe WP", Segoe, Tahoma, Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.al-button-primary {
  border-color: transparent !important;
  background: #00838F !important;
  color: white !important;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #8a8886;
  border-radius: 2px;
  background: #fff;
  color: #333;
}

button.al-button-primary:focus, button.al-button-primary:active {
  outline-color: #fff !important;
  outline-offset: -3px !important;
}

button.al-button-primary:hover {
  background: #007E87 !important;
}

button.al-button-danger {
  border-color: transparent !important;
  background: #E65E6D !important;
  color: #fff !important;
}

button.al-button-danger:focus, button.al-button-danger:active {
  outline-color: #fff !important;
  outline-offset: -3px !important;
}

button.al-button-danger:hover {
  background: rgb(201, 85, 98) !important;
}

@media screen and (max-width: 657px) {
  #notepad {
    height: calc(100% - 110px) !important; 
  }
}